/* The grid layout */
#header-top { grid-area: header; }
#main-picture { grid-area: picture; }
#welcome-message { grid-area: welcome; }
#footer-bottom { grid-area: footer; }

body {
    background-image: url("background-image.png");
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'picture'
    'welcome'
    'footer';
  margin: -8px;
}
.grid-container > div {
  font-family: sans-serif;
  font-weight: lighter;
}

html {
  scroll-behavior: smooth;
}


/* Navigation Bar */

#header-top {
  padding: 5px 5px;
  position: fixed;
  background-color: #FDFDFD;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-right: 1.5%;
  float: right;
  display: inline-block;
}

.nav-item {
  float: left;
}

.nav-item .nav-class { 
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  color: black;
}

.nav-item .nav-class:hover {
  color: orange;
}

h1 {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-weight: lighter;
  color: black;
}

h1:hover {
  color: orange;
}

.home-logo {
  margin-left: 10px;
  width: 30px;
  height: auto;
  float: left;
  margin: 12px 20px 10px 20px;
}

.bmw-text {
  margin-left: 10px;
}

/* Opening Image */
.m-power {
  position: relative;
  top: 70%;
  left: 10%;
  width: 6%;
  height: auto;
}

.img-mpower {
  height:auto;
  width: 100%;
}

.down-div {
  position: relative;
  bottom: 18%;
  left: 11%;
  width: 4%;

}

.down-arrow {
  height: auto;
  width: 100%;
}

.opening-img-class {
  width: 100%;
  height: auto;
}

/* Main Content */
#main-content {
  padding-top: 80px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

p {
  margin: 0 15% 0 15%;
}

/* Welcome Messgae */
#welcome-message{
  padding-top: 40px;
}

.front-paragraph {

}

/* History */
#history-content {
  padding-top: 80px;
}

/* Footer */
.footer-bottom {
  padding: 10px 10px;
  background-color: #FDFDFD !important;

}

.foot-copyright {
  margin: 40px 40px;
  font-size: 20px;
  text-align: center;
}